import /vendor/etc/init/hw/init.xiaomi.device.rc

# DT2W
on boot
    chown system system /sys/touchpanel/double_tap
    chown system system /proc/touchpanel/wakeup_gesture
    chmod 0660 /proc/touchpanel/wakeup_gesture

# RIL
on boot
    # Enable qcrild
    enable vendor.qcrild
    enable vendor.qcrild2

# Time
on property:sys.boot_completed=1
    restart time_daemon

# Wifi
on init
    chown wifi wifi /sys/module/wlan/parameters/fwpath
