# DT2W
on boot
    chown system system /sys/touchpanel/double_tap
    chown system system /proc/touchpanel/wakeup_gesture
    chmod 0660 /proc/touchpanel/wakeup_gesture

# Wifi
on init
    chown wifi wifi /sys/module/wlan/parameters/fwpath
